In [1]:
# List : A list is a collection of items in a particular order. We can make a list that includes the letters of the alphabet, the digits from 0~9, or the names of all of the people.

In [2]:
bicycles = ["trek", "cannodale", "redline", "specialized"]
print(bicycles)

['trek', 'cannodale', 'redline', 'specialized']

# Accessing elements in list

In [3]:
# Index position start from '0'
# Last item in list start from '-1'
# Call index number when we ask for a single item
# We can use string method to capitalized a item

print(bicycles[0])
print(bicycles[1])
print(bicycles[2])
print(bicycles[3])

# We can use title() method for Upercase
print(bicycles[0].title())
print(bicycles[1].title())
print(bicycles[2].title())
print(bicycles[3].title())

trek
cannodale
redline
specialized
Trek
Cannodale
Redline
Specialized

In [4]:
# We can use indivisual values from a list

show = f"My first bicycle was a {bicycles[0].title()}"
print(show)

My first bicycle was a Trek

In [5]:
print("My first bicycle was a ", bicycles[0].title())

My first bicycle was a  Trek

In [6]:
# Change the item name in list

motorcycles = ["honda","yamaha", "suzuki"]
print(motorcycles)
motorcycles[0] = "ducati"
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']

In [7]:
# Use 'append' keyword to add a element in list

motorcycles = ["honda","yamaha", "suzuki"]
print(motorcycles)
motorcycles.append("ducati")
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']

In [8]:
# We can define a empty list and then add elements one by one

cars = []
cars.append("lamborghini")
cars.append("kia")
cars.append("hundai")
cars.append("ferari")

print(cars)

['lamborghini', 'kia', 'hundai', 'ferari']

In [9]:
# Use 'insert' keyword to insert item
cars = ['lamborghini', 'kia', 'hundai', 'ferari']

cars.insert(0, "bmw")
print(cars)

['bmw', 'lamborghini', 'kia', 'hundai', 'ferari']

In [10]:
# We can remove an item from any position in a list using 'del' keyword

cars = ['bmw', 'lamborghini', 'kia', 'hundai', 'ferari']

del cars[-1]
print(cars)

['bmw', 'lamborghini', 'kia', 'hundai']

In [11]:
# We can use 'pop' keyword to remove an item
cars = ['bmw', 'lamborghini', 'kia', 'hundai', 'ferari']

cars.pop()
print(cars)

['bmw', 'lamborghini', 'kia', 'hundai']

In [12]:
# We can remove ites by value
cars = ['bmw', 'lamborghini', 'kia', 'hundai', 'ferari']
cars.remove("bmw")
print(cars)

['lamborghini', 'kia', 'hundai', 'ferari']

In [13]:
# Sorting a list permanently wuth sort() method

cars = ['bmw', 'lamborghini', 'kia', 'hundai', 'ferari']
cars.sort()
print(cars)

['bmw', 'ferari', 'hundai', 'kia', 'lamborghini']

In [14]:
# We can reverse the sortten elements

cars = ['bmw', 'lamborghini', 'kia', 'hundai', 'ferari']
cars.sort(reverse=True)
print(cars)

['lamborghini', 'kia', 'hundai', 'ferari', 'bmw']

In [15]:
# We can reverse the elements using reverse() method
cars = ['bmw', 'lamborghini', 'kia', 'hundai', 'ferari']
cars.reverse()
print(cars)

['ferari', 'hundai', 'kia', 'lamborghini', 'bmw']

In [16]:
# We can find the length of a list using len() function

cars = ['bmw', 'lamborghini', 'kia', 'hundai', 'ferari']
print(len(cars))

5

In [17]:
# Print the in loop

countries = ["Bangladesh", "India", "Pakistan", "South Korea", "Japan", "China", "America"]
for country in countries:
    print(country)
    print(f"{country}, is a Beautiful Country")
    print(f"I can not wait to visit {country}")

Bangladesh
Bangladesh, is a Beautiful Country
I can not wait to visit Bangladesh
India
India, is a Beautiful Country
I can not wait to visit India
Pakistan
Pakistan, is a Beautiful Country
I can not wait to visit Pakistan
South Korea
South Korea, is a Beautiful Country
I can not wait to visit South Korea
Japan
Japan, is a Beautiful Country
I can not wait to visit Japan
China
China, is a Beautiful Country
I can not wait to visit China
America
America, is a Beautiful Country
I can not wait to visit America

In [18]:
# Making numerical list using range() function
list = []
for numbers in range(1,10):
    list.append(numbers)

print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
var = [3,2,1,4,7,6,3,1,3,5]

print(len(var)) # len function apply to know about that ho wmany items are in list
var.append(10) # append function apply to add a items with list
var.insert(0,0) # insert function apply to add a item in self position
var.sort()       # sort function apply to arrange the list
var.reverse()      # reverse function apply to arrang the list from opposit
var.remove(6)       # remove function apply to remove an item
#var.clear()         # clear function apply to clear all items from list
#var.pop()           # pop function apply to delete the last item from list
position = var.index(7) # index function apply to find the position of item
var2 = var.copy()       # copy function apply to copy all of items
count = var.count(3)     # count function apply to count the markable item

print(var[1:])

10
[7, 5, 4, 3, 3, 3, 2, 1, 1, 0]

In [20]:
values = []
for value in range(1,20):
    results = value ** 2
    values.append(results)
    
print(values)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [21]:
# We can find the maximum number using max(), minimum number using min() and doing sum using sum() keyword

numbers = [1,2,5,14,53,12,10,39,34,55,70]
print("The Maximum number in this list is :", max(numbers))
print("The Minimum number in this list is :", min(numbers))
print("The sum of this list is :", sum(numbers))

The Maximum number in this list is : 70
The Minimum number in this list is : 1
The sum of this list is : 295

In [23]:
# Slicing a list
countries = ["Bangladesh", "India", "Pakistan", "South Korea", "Japan", "China", "America"]
print(countries[0:3])
print(countries[1:4])
print(countries[:4])
print(countries[2:])
print(countries[-2:])

['Bangladesh', 'India', 'Pakistan']
['India', 'Pakistan', 'South Korea']
['Bangladesh', 'India', 'Pakistan', 'South Korea']
['Pakistan', 'South Korea', 'Japan', 'China', 'America']
['China', 'America']

In [24]:
# Looping through a slice

countries = ["Bangladesh", "India", "Pakistan", "South Korea", "Japan", "China", "America"]
for country in countries[0:3]:
    print(country)
print("These countries are surrounded by me")

Bangladesh
India
Pakistan
These countries are surrounded by me

In [25]:
# Copying a list

my_dress = ["Shirt","Trouser","Jeans", "Denim", "T-Shirts"]
frinds_dress = my_dress[:]

print("My favourit dress are : ",my_dress)
print("My friends dress are : ", frinds_dress)

My favourit dress are :  ['Shirt', 'Trouser', 'Jeans', 'Denim', 'T-Shirts']
My friends dress are :  ['Shirt', 'Trouser', 'Jeans', 'Denim', 'T-Shirts']

In [26]:
var = [10,20,30,40,60,50,70,100]
total = 0
for x in var:
    total = total + x
print(total)

n = len(var)
sep = 0
while sep < n:
    print(var[sep])
    sep = sep + 1

print("Program Done")

380
10
20
30
40
60
50
70
100
Program Done